
@{
    ViewBag.Title = "Select";
}


<h2>Select</h2>

<form method="post">
    <p>
        <label for="phone">Select model:</label>
        <select name="phone">
            <option value="iPhone 6S">Apple</option>
            <option value="Microsoft">Microsoft</option>
            <option value="HTC 10">HTC</option>
            <option value="Galaxy S7">Galaxy S7</option>
        </select>
    </p>
    <p>
        <input type="submit" value="Пуск" />
    </p>
</form>