@{
    Layout = null;
    ViewData["Title"] = "Test";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        TestTestTestTestTestTestTest
    </div>

    <hr>
    <h2>Представление</h2>
    @Html.Partial("_GetMessage")

    <hr>
    <h3>Представление2</h3>
    @Html.Partial("_GetMessage2")

    <hr>
    <h4>Представление3</h4>
    @Html.Partial("_GetMessage3")
</body>
</html>
