# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
MVC/DemoWebApiSST/.vs/
MVC/DemoWebApiSST/Cors/obj/
MVC/Diplom (MVC Quiestion )/QuestionSea/QuestionSee/Migrations/
MVC/Diplom (MVC Quiestion )/QuestionSea/QuestionSee/wwwroot/
MVC/MVC/MVC/bin/
MVC/MVC/MVC/obj/
MVC/MVC/MVC/wwwroot/
MVC/Test/MVCWebTestApl/MVCWebTestApl/obj/
MVC/UnitTest/UnitTest/obj/
MVC/UnitTest/UnitTest/wwwroot/lib/
MVC/UnitTest/UnitTestApp.Tests/obj/
MVC/UnitTest/XUnitTestApp.Tests/bin/
MVC/UnitTest/XUnitTestApp.Tests/obj
MVC/MVC/.vs/MVC/v16/
MVC/MVC/.vs/MVC/v17/
MVC/Test/MVCWebTestApl/.vs/
MVC/Test/MVCWebTestApl/MVCWebTestApl/bin/
MVC/Test/MVCWebTestApl/MVCWebTestApl/wwwroot/
MVC/UnitTest/UnitTest/obj/
MVC/UnitTest/UnitTest/wwwroot/
MVC/UnitTest/XUnitTestApp.Tests/obj/
MVC/UnitTest/UnitTest/bin/
MVC/DemoWebApiSST/Cors/wwwroot/
MVC/DemoWebApiSST/Cors/bin/
MVC/MVC/.vs/
RemoteService/Client/obj
RemoteService/Client/bin
RemoteService/.vs
RemoteService/RemoteService/obj
RemoteService/SummatorHost/bin
RemoteService/SummatorHost/obj
Session/.vs
Session/Web/bin
Session/Web/obj
Session/packages
WCF/ServiceSummator/Summator/Summator/obj
WCF/ServiceSummator/Summator/.vs
WCF/ServiceSummator/WebClient/.vs
WCF/ServiceSummator/WebClient/Client/obj
WCF/ServiceSummator/WinFormClient/.vs
WCF/ServiceSummator/WinFormClient/WinFormClient/obj
WCF/WebServiceSummator/WebService/.vs
WCF/WebServiceSummator/WebService/WebClient/bin
WCF/WebServiceSummator/WebService/WebService/obj
WCF/WebServiceSummator/WebService/WebService/bin
WCF/WebServiceSummator/WebService/WebClient/obj
WCF/ServiceSummator/WebClient/packages
WCF/ServiceSummator/WebClient/Client/bin
WCF/ServiceSummator/Summator/SummatorHost/obj
WCF/ServiceSummator/Summator/SummatorHost/bin
WCF/WebServiceSummator/WebService/packages
WebApi/.vs/WebAPI/DesignTimeBuild/.dtbcache
WebApi/WebAPI/bin
WebApi/WebAPI/obj
WPF/MyBrowser/.vs
WPF/WpfApplication1/WpfApplication1/.vs
WPF/WpfApplication1/WpfApplication1/WpfApplication1/bin
WPF/WpfApplication1/WpfApplication1/WpfApplication1/obj
WPF/Wpfbinding zTimer/.vs
WPF/Wpfbinding zTimer/WpfApplication1/bin
WPF/Wpfbinding zTimer/WpfApplication1/obj
WPF/WPFTextEdit/.vs
WPF/WPFTextEdit/TextEdit/obj
WebApplication/.vs/WebApplication/v16
WebApplication/bin
WebApplication/obj
WebApplication/packages
WebApplication/.vs
