
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MasterPage</title>
    <style>
        body {
            font-size: 1.6em;
        }
        h2 {
            text-align: center;
        }
        a {
            display: block;
            margin: 20px 0;
        }
    </style>
</head>
<body>
<div>
    <a href="/">вернуться на главную</a>
    @RenderBody()
</div>
</body>
</html>
